<div class="center-box">
    <span><b class="label">Customer Id: </b></span>
    <span><input type="number" placeholder="Set Id" ></span>
</div>
<div class="center">
    <button onclick="newRequest()"><b>Ride Now</b></button>
</div>
