<h1>{{title }}</h1>
<p>Welcome to {{title }}</p>


<table>
    <tr>
        <th><button class="refreshButton" onclick="location.replace('/dashboard')"><b>Dashboard</b></button></th>
        <th><button class="refreshButton" onclick="location.replace('/driver/1')"><b>DriverApp</b></button></th>
        <th><button class="refreshButton" onclick="location.replace('/customer')"><b>CustomerApp</b></button></th>
    </tr>
</table>
